body {
    background-image: url("../images/SVG/background1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, label {
    font-family: 'Montserrat', sans-serif;
    color: #f8f8ff;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #F95466;
}

p {
    font-family: 'Roboto', sans-serif;
}

.text-white {
    color: #f8f8ff;
}

.text-black {
    color: #282B33;
}

.bg-green {
    background-color: #1DD05D;
}

.bg-blue {
    background-color: #00B7E5;
}

.glassmorphism {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.03);
    backdrop-filter: blur(20.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.button {
    background-color: #F95466;
}

.button:hover {
    background-color: #F83B50;
}

.background3 {
    background-image: url("../images/SVG/background3.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wp-47 {
    width: 47.5%;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    width: 90%;
}