body {
    background-image: url("../images/SVG/background1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #282B33;
}

h1, h2, h3, h4, h5, label {
    font-family: 'Montserrat', sans-serif;
    color: #f8f8ff;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #F95466;
}

p {
    font-family: 'Roboto', sans-serif;
}

.text-white {
    color: #f8f8ff;
}

.text-black {
    color: #282B33;
}

.text-green {
    color: #1DD05D;
}

.bg-green {
    background-color: #1DD05D;
}

.bg-blue {
    background-color: #00B7E5;
}

.bg-red {
    background-color: #F95466;
}

.bg-white {
    background-color: #f8f8ff;
}

.bg-black {
    background-color: #282B33;
}

.bg-orange {
    background-color: #F38E03;
}

.bg-warmth {
    background: rgb(0,204,255);
    background: linear-gradient(45deg, rgba(0,204,255,1) 0%, rgba(248,114,4,1) 100%);
}

.slidecontainer {
    width: 100%;
}

.slider2 {
    -webkit-appearance: none;
    width: 100%;
    height: 0.8rem;
    background: rgb(0,204,255);
    background: linear-gradient(90deg, rgba(0,204,255,1) 0%, rgba(248,114,4,1) 70%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px #282B33;
}

/*.slider2::before {*/
/*    content: '1°C';*/
/*    color: #f8f8ff;*/
/*    font-size: medium;*/
/*    font-weight: bolder;*/
/*    position: absolute;*/
/*    top:78%;*/
/*}*/

/*.slider2::after {*/
/*    content: '80°C';*/
/*    color: #f8f8ff;*/
/*    font-size: medium;*/
/*    font-weight: bolder;*/
/*    position: absolute;*/
/*    top:78%;*/
/*    left: 72%;*/
/*}*/

.slider2:hover {
    opacity: 1;
}

.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background: #f8f8ff;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0.1rem;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorphism2 {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorphism3 {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20.0px);
    -webkit-backdrop-filter: blur(20.0px);
    /*border-top-left-radius: 9999px;*/
    /*border-top-right-radius: 9999px;*/
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    border-radius: 9999px 9999px 1000px 1000px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

button:focus-visible {
    outline: none;
}

.button {
    background-color: #F95466;
}

.button:hover {
    background-color: #F83B50;
}

.background1 {
    background-image: url("../images/SVG/background1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background3 {
    background-image: url("../images/SVG/background3.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background4 {
    background-image: url("../images/SVG/background4.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wp-47 {
    width: 47.5%;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    width: 91.5%;
    z-index: 1;
}

.circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #2E343D;
    box-shadow: 0px 0px 1em #282B33;
}

.tempCircle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: rgb(234, 198, 0);
    background: linear-gradient(45deg, rgba(234, 198, 0, 1) 0%, rgba(248, 114, 4, 1) 100%);
}

.infoCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #2E343D;
}

.border-25 {
    border-radius: 25px;
}

.line-w {
    width: 65.3%;
}

.line-w2 {
    width: 79%;
}

.line-w3 {
    width: 0.12rem;
}

.line-h {
    height: 100%;
}

.selectDiv {
    border-radius: 4px;
    display:inline-block;
    overflow:hidden;
    height: 2rem;
    margin-top: 0.3em;
}

.selectBox {
    width:140px;
    height: 2rem;
    border:0px;
    outline:none;
    border-radius: 4px;
}

.selectDiv2 {
    border-radius: 25px;
    display:inline-block;
    overflow:hidden;
    height: 1.5rem;
    width:3rem;
}

.selectBox2 {
    width:3rem;
    height: 1.5rem;
    border:0px;
    outline:none;
    border-radius: 25px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    left: 1px;
}

input:checked + .slider {
    background-color: #1DD05D;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1DD05D;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

    /* Gas graph */
.bar-graph-gas .year-gas {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical-gas {
    margin-top: 20px;
    max-width: 680px;
}

.bar-graph-vertical-gas .bar-container-gas {
    float: left;
    height: 240px;
    margin-right: 6px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;
    width: 32px;
}

.bar-graph-vertical-gas .bar-gas {
    border-radius: 30px;
    bottom: 40px;
    position: absolute;
    text-align: center;
    width: 25px;
    margin-left: 4px;
}

.bar-graph-vertical-gas .year-gas {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    font-family: 'Roboto', sans-serif;
    color: #f8f8ff;
}

.bar-graph-two-gas .bar-one-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-one-vertical-gas 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical-gas 1.2s 0.1s forwards;
    animation: show-bar-one-vertical-gas 1.2s 0.1s forwards;
}

.bar-graph-two-gas .bar-two-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-two-vertical-gas 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical-gas 1.2s 0.2s forwards;
    animation: show-bar-two-vertical-gas 1.2s 0.2s forwards;
}

.bar-graph-two-gas .bar-three-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-three-vertical-gas 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical-gas 1.2s 0.3s forwards;
    animation: show-bar-three-vertical-gas 1.2s 0.3s forwards;
}

.bar-graph-two-gas .bar-four-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-four-vertical-gas 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical-gas 1.2s 0.4s forwards;
    animation: show-bar-four-vertical-gas 1.2s 0.4s forwards;
}

.bar-graph-two-gas .bar-five-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-five-vertical-gas 1.2s 0.5s forwards;
    -moz-animation: show-bar-five-vertical-gas 1.2s 0.5s forwards;
    animation: show-bar-five-vertical-gas 1.2s 0.5s forwards;
}

.bar-graph-two-gas .bar-six-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-six-vertical-gas 1.2s 0.6s forwards;
    -moz-animation: show-bar-six-vertical-gas 1.2s 0.6s forwards;
    animation: show-bar-six-vertical-gas 1.2s 0.6s forwards;
}

.bar-graph-two-gas .bar-seven-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-seven-vertical-gas 1.2s 0.7s forwards;
    -moz-animation: show-bar-seven-vertical-gas 1.2s 0.7s forwards;
    animation: show-bar-seven-vertical-gas 1.2s 0.7s forwards;
}

.bar-graph-two-gas .bar-8-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-8-vertical-gas 1.2s 0.7s forwards;
    -moz-animation: show-bar-8-vertical-gas 1.2s 0.7s forwards;
    animation: show-bar-8-vertical-gas 1.2s 0.7s forwards;
}

.bar-graph-two-gas .bar-9-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-9-vertical-gas 1.2s 0.7s forwards;
    -moz-animation: show-bar-9-vertical-gas 1.2s 0.7s forwards;
    animation: show-bar-9-vertical-gas 1.2s 0.7s forwards;
}

.bar-graph-two-gas .bar-10-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-10-vertical-gas 1.2s 0.7s forwards;
    -moz-animation: show-bar-10-vertical-gas 1.2s 0.7s forwards;
    animation: show-bar-10-vertical-gas 1.2s 0.7s forwards;
}

.bar-graph-two-gas .bar-11-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-11-vertical-gas 1.2s 0.7s forwards;
    -moz-animation: show-bar-11-vertical-gas 1.2s 0.7s forwards;
    animation: show-bar-11-vertical-gas 1.2s 0.7s forwards;
}

.bar-graph-two-gas .bar-12-gas .bar-gas {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-12-vertical-gas 1.2s 0.7s forwards;
    -moz-animation: show-bar-12-vertical-gas 1.2s 0.7s forwards;
    animation: show-bar-12-vertical-gas 1.2s 0.7s forwards;
}

/* Bar Graph Vertical Animations */
@-webkit-keyframes show-bar-one-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-two-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-three-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 58%;
    }
}

@-webkit-keyframes show-bar-four-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-five-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-six-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-seven-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-8-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 60%;
    }
}

@-webkit-keyframes show-bar-9-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 20%;
    }
}

@-webkit-keyframes show-bar-10-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 67%;
    }
}

@-webkit-keyframes show-bar-11-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 56%;
    }
}

@-webkit-keyframes show-bar-12-vertical-gas {
    0% {
        height: 0;
    }
    100% {
        height: 34%;
    }
}

/* Electricity graph */
.bar-graph-electricity .year-electricity {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical-electricity {
    margin-top: 20px;
    max-width: 680px;
}

.bar-graph-vertical-electricity .bar-container-electricity {
    float: left;
    height: 240px;
    margin-right: 6px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;
    width: 32px;
}

.bar-graph-vertical-electricity .bar-electricity {
    border-radius: 30px;
    bottom: 40px;
    position: absolute;
    text-align: center;
    width: 25px;
    margin-left: 4px;
}

.bar-graph-vertical-electricity .year-electricity {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    font-family: 'Roboto', sans-serif;
    color: #f8f8ff;
}

.bar-graph-two-electricity .bar-one-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-one-vertical-electricity 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical-electricity 1.2s 0.1s forwards;
    animation: show-bar-one-vertical-electricity 1.2s 0.1s forwards;
}

.bar-graph-two-electricity .bar-two-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-two-vertical-electricity 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical-electricity 1.2s 0.2s forwards;
    animation: show-bar-two-vertical-electricity 1.2s 0.2s forwards;
}

.bar-graph-two-electricity .bar-three-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-three-vertical-electricity 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical-electricity 1.2s 0.3s forwards;
    animation: show-bar-three-vertical-electricity 1.2s 0.3s forwards;
}

.bar-graph-two-electricity .bar-four-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-four-vertical-electricity 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical-electricity 1.2s 0.4s forwards;
    animation: show-bar-four-vertical-electricity 1.2s 0.4s forwards;
}

.bar-graph-two-electricity .bar-five-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-five-vertical-electricity 1.2s 0.5s forwards;
    -moz-animation: show-bar-five-vertical-electricity 1.2s 0.5s forwards;
    animation: show-bar-five-vertical-electricity 1.2s 0.5s forwards;
}

.bar-graph-two-electricity .bar-six-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-six-vertical-electricity 1.2s 0.6s forwards;
    -moz-animation: show-bar-six-vertical-electricity 1.2s 0.6s forwards;
    animation: show-bar-six-vertical-electricity 1.2s 0.6s forwards;
}

.bar-graph-two-electricity .bar-seven-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-seven-vertical-electricity 1.2s 0.7s forwards;
    -moz-animation: show-bar-seven-vertical-electricity 1.2s 0.7s forwards;
    animation: show-bar-seven-vertical-electricity 1.2s 0.7s forwards;
}

.bar-graph-two-electricity .bar-8-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-8-vertical-electricity 1.2s 0.7s forwards;
    -moz-animation: show-bar-8-vertical-electricity 1.2s 0.7s forwards;
    animation: show-bar-8-vertical-electricity 1.2s 0.7s forwards;
}

.bar-graph-two-electricity .bar-9-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-9-vertical-electricity 1.2s 0.7s forwards;
    -moz-animation: show-bar-9-vertical-electricity 1.2s 0.7s forwards;
    animation: show-bar-9-vertical-electricity 1.2s 0.7s forwards;
}

.bar-graph-two-electricity .bar-10-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-10-vertical-electricity 1.2s 0.7s forwards;
    -moz-animation: show-bar-10-vertical-electricity 1.2s 0.7s forwards;
    animation: show-bar-10-vertical-electricity 1.2s 0.7s forwards;
}

.bar-graph-two-electricity .bar-11-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-11-vertical-electricity 1.2s 0.7s forwards;
    -moz-animation: show-bar-11-vertical-electricity 1.2s 0.7s forwards;
    animation: show-bar-11-vertical-electricity 1.2s 0.7s forwards;
}

.bar-graph-two-electricity .bar-12-electricity .bar-electricity {
    background-color: #EEAA01;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-12-vertical-electricity 1.2s 0.7s forwards;
    -moz-animation: show-bar-12-vertical-electricity 1.2s 0.7s forwards;
    animation: show-bar-12-vertical-electricity 1.2s 0.7s forwards;
}

/* Bar Graph Vertical Animations */
@-webkit-keyframes show-bar-one-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-two-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-three-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 58%;
    }
}

@-webkit-keyframes show-bar-four-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-five-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-six-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-seven-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-8-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 60%;
    }
}

@-webkit-keyframes show-bar-9-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 20%;
    }
}

@-webkit-keyframes show-bar-10-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 67%;
    }
}

@-webkit-keyframes show-bar-11-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 56%;
    }
}

@-webkit-keyframes show-bar-12-vertical-electricity {
    0% {
        height: 0;
    }
    100% {
        height: 34%;
    }
}

/* Potential Energy graph */
.bar-graph-potentialEnergy .year-potentialEnergy {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical-potentialEnergy {
    margin-top: 20px;
    max-width: 680px;
}

.bar-graph-vertical-potentialEnergy .bar-container-potentialEnergy {
    float: left;
    height: 240px;
    margin-right: 6px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;
    width: 32px;
}

.bar-graph-vertical-potentialEnergy .bar-potentialEnergy {
    border-radius: 30px;
    bottom: 40px;
    position: absolute;
    text-align: center;
    width: 25px;
    margin-left: 4px;
}

.bar-graph-vertical-potentialEnergy .year-potentialEnergy {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    font-family: 'Roboto', sans-serif;
    color: #f8f8ff;
}

.bar-graph-two-potentialEnergy .bar-one-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-one-vertical-potentialEnergy 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical-potentialEnergy 1.2s 0.1s forwards;
    animation: show-bar-one-vertical-potentialEnergy 1.2s 0.1s forwards;
}

.bar-graph-two-potentialEnergy .bar-two-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-two-vertical-potentialEnergy 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical-potentialEnergy 1.2s 0.2s forwards;
    animation: show-bar-two-vertical-potentialEnergy 1.2s 0.2s forwards;
}

.bar-graph-two-potentialEnergy .bar-three-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-three-vertical-potentialEnergy 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical-potentialEnergy 1.2s 0.3s forwards;
    animation: show-bar-three-vertical-potentialEnergy 1.2s 0.3s forwards;
}

.bar-graph-two-potentialEnergy .bar-four-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-four-vertical-potentialEnergy 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical-potentialEnergy 1.2s 0.4s forwards;
    animation: show-bar-four-vertical-potentialEnergy 1.2s 0.4s forwards;
}

.bar-graph-two-potentialEnergy .bar-five-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-five-vertical-potentialEnergy 1.2s 0.5s forwards;
    -moz-animation: show-bar-five-vertical-potentialEnergy 1.2s 0.5s forwards;
    animation: show-bar-five-vertical-potentialEnergy 1.2s 0.5s forwards;
}

.bar-graph-two-potentialEnergy .bar-six-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-six-vertical-potentialEnergy 1.2s 0.6s forwards;
    -moz-animation: show-bar-six-vertical-potentialEnergy 1.2s 0.6s forwards;
    animation: show-bar-six-vertical-potentialEnergy 1.2s 0.6s forwards;
}

.bar-graph-two-potentialEnergy .bar-seven-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-seven-vertical-potentialEnergy 1.2s 0.7s forwards;
    -moz-animation: show-bar-seven-vertical-potentialEnergy 1.2s 0.7s forwards;
    animation: show-bar-seven-vertical-potentialEnergy 1.2s 0.7s forwards;
}

.bar-graph-two-potentialEnergy .bar-8-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-8-vertical-potentialEnergy 1.2s 0.7s forwards;
    -moz-animation: show-bar-8-vertical-potentialEnergy 1.2s 0.7s forwards;
    animation: show-bar-8-vertical-potentialEnergy 1.2s 0.7s forwards;
}

.bar-graph-two-potentialEnergy .bar-9-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-9-vertical-potentialEnergy 1.2s 0.7s forwards;
    -moz-animation: show-bar-9-vertical-potentialEnergy 1.2s 0.7s forwards;
    animation: show-bar-9-vertical-potentialEnergy 1.2s 0.7s forwards;
}

.bar-graph-two-potentialEnergy .bar-10-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-10-vertical-potentialEnergy 1.2s 0.7s forwards;
    -moz-animation: show-bar-10-vertical-potentialEnergy 1.2s 0.7s forwards;
    animation: show-bar-10-vertical-potentialEnergy 1.2s 0.7s forwards;
}

.bar-graph-two-potentialEnergy .bar-11-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-11-vertical-potentialEnergy 1.2s 0.7s forwards;
    -moz-animation: show-bar-11-vertical-potentialEnergy 1.2s 0.7s forwards;
    animation: show-bar-11-vertical-potentialEnergy 1.2s 0.7s forwards;
}

.bar-graph-two-potentialEnergy .bar-12-potentialEnergy .bar-potentialEnergy {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-12-vertical-potentialEnergy 1.2s 0.7s forwards;
    -moz-animation: show-bar-12-vertical-potentialEnergy 1.2s 0.7s forwards;
    animation: show-bar-12-vertical-potentialEnergy 1.2s 0.7s forwards;
}

/* Bar Graph Vertical Animations */
@-webkit-keyframes show-bar-one-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-two-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-three-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 30%;
    }
}

@-webkit-keyframes show-bar-four-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-five-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-six-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 30%;
    }
}

@-webkit-keyframes show-bar-seven-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 30%;
    }
}

@-webkit-keyframes show-bar-8-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 60%;
    }
}

@-webkit-keyframes show-bar-9-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 20%;
    }
}

@-webkit-keyframes show-bar-10-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 67%;
    }
}

@-webkit-keyframes show-bar-11-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 56%;
    }
}

@-webkit-keyframes show-bar-12-vertical-potentialEnergy {
    0% {
        height: 0;
    }
    100% {
        height: 34%;
    }
}

/* Consumed graph */

.bar-graph-consumed .year-consumed {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical-consumed {
    margin-top: 20px;
    max-width: 680px;
}

.bar-graph-vertical-consumed .bar-container-consumed {
    float: left;
    height: 240px;
    margin-right: 6px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;
    width: 32px;
}

.bar-graph-vertical-consumed .bar-consumed {
    border-radius: 30px;
    bottom: 40px;
    position: absolute;
    text-align: center;
    width: 25px;
    margin-left: 4px;
}

.bar-graph-vertical-consumed .year-consumed {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    font-family: 'Roboto', sans-serif;
    color: #f8f8ff;
}

.bar-graph-two-consumed .bar-one-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-one-vertical-consumed 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical-consumed 1.2s 0.1s forwards;
    animation: show-bar-one-vertical-consumed 1.2s 0.1s forwards;
}

.bar-graph-two-consumed .bar-two-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-two-vertical-consumed 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical-consumed 1.2s 0.2s forwards;
    animation: show-bar-two-vertical-consumed 1.2s 0.2s forwards;
}

.bar-graph-two-consumed .bar-three-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-three-vertical-consumed 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical-consumed 1.2s 0.3s forwards;
    animation: show-bar-three-vertical-consumed 1.2s 0.3s forwards;
}

.bar-graph-two-consumed .bar-four-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-four-vertical-consumed 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical-consumed 1.2s 0.4s forwards;
    animation: show-bar-four-vertical-consumed 1.2s 0.4s forwards;
}

.bar-graph-two-consumed .bar-five-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-five-vertical-consumed 1.2s 0.5s forwards;
    -moz-animation: show-bar-five-vertical-consumed 1.2s 0.5s forwards;
    animation: show-bar-five-vertical-consumed 1.2s 0.5s forwards;
}

.bar-graph-two-consumed .bar-six-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-six-vertical-consumed 1.2s 0.6s forwards;
    -moz-animation: show-bar-six-vertical-consumed 1.2s 0.6s forwards;
    animation: show-bar-six-vertical-consumed 1.2s 0.6s forwards;
}

.bar-graph-two-consumed .bar-seven-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-seven-vertical-consumed 1.2s 0.7s forwards;
    -moz-animation: show-bar-seven-vertical-consumed 1.2s 0.7s forwards;
    animation: show-bar-seven-vertical-consumed 1.2s 0.7s forwards;
}

.bar-graph-two-consumed .bar-8-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-8-vertical-consumed 1.2s 0.7s forwards;
    -moz-animation: show-bar-8-vertical-consumed 1.2s 0.7s forwards;
    animation: show-bar-8-vertical-consumed 1.2s 0.7s forwards;
}

.bar-graph-two-consumed .bar-9-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-9-vertical-consumed 1.2s 0.7s forwards;
    -moz-animation: show-bar-9-vertical-consumed 1.2s 0.7s forwards;
    animation: show-bar-9-vertical-consumed 1.2s 0.7s forwards;
}

.bar-graph-two-consumed .bar-10-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-10-vertical-consumed 1.2s 0.7s forwards;
    -moz-animation: show-bar-10-vertical-consumed 1.2s 0.7s forwards;
    animation: show-bar-10-vertical-consumed 1.2s 0.7s forwards;
}

.bar-graph-two-consumed .bar-11-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-11-vertical-consumed 1.2s 0.7s forwards;
    -moz-animation: show-bar-11-vertical-consumed 1.2s 0.7s forwards;
    animation: show-bar-11-vertical-consumed 1.2s 0.7s forwards;
}

.bar-graph-two-consumed .bar-12-consumed .bar-consumed {
    background-color: #1DD05D;
    border: 2px solid #f8f8ff;
    -webkit-animation: show-bar-12-vertical-consumed 1.2s 0.7s forwards;
    -moz-animation: show-bar-12-vertical-consumed 1.2s 0.7s forwards;
    animation: show-bar-12-vertical-consumed 1.2s 0.7s forwards;
}

/* Bar Graph Vertical Animations */
@-webkit-keyframes show-bar-one-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-two-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-three-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 58%;
    }
}

@-webkit-keyframes show-bar-four-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-five-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 45%;
    }
}

@-webkit-keyframes show-bar-six-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-seven-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-8-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 60%;
    }
}

@-webkit-keyframes show-bar-9-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 20%;
    }
}

@-webkit-keyframes show-bar-10-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 67%;
    }
}

@-webkit-keyframes show-bar-11-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 56%;
    }
}

@-webkit-keyframes show-bar-12-vertical-consumed {
    0% {
        height: 0;
    }
    100% {
        height: 34%;
    }
}

